html {
  font-size: 16px;
  line-height: 1.6;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

.l-header {
  position: fixed;
  width: 100vw;
  height: 4.0625rem;
  z-index: 1;
}

.l-main {
  padding-top: 10rem;
}

.c-background__glass {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.c-background__white {
  background-color: #FFFFFF;
}
.c-background__circle {
  position: fixed;
  z-index: 3;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  background: #E5D41C;
  transform: scale(0);
  right: -3.125rem;
  top: -3.125rem;
  transition: all 0.6s;
}
.c-background__circle.is-circleactive {
  transform: scale(50);
}

.c-border, .c-border__back {
  border: 0.125rem solid #1B8343;
  border-radius: 1.25rem;
  position: relative;
}
.c-border::before, .c-border__back::before {
  content: "";
  border: 0.125rem solid #E5D41C;
  border-radius: 1.25rem;
  position: absolute;
  top: 0.4375rem;
  left: 0.4375rem;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.c-border__back {
  border: none;
}
.c-border__back::before {
  content: "";
  border: 0.125rem solid #E5D41C;
  border-radius: 1.25rem;
  position: absolute;
  top: 0.4375rem;
  left: -0.4375rem;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.c-button, .c-button__works {
  padding: 0.5rem 1.5rem;
  background: #1B8343;
  border-radius: 1.25rem;
  color: #FFFFFF;
}
.c-button__works {
  display: block;
  margin-left: auto;
  margin-top: 0.5rem;
  padding: 0.5rem 2.1875rem;
}

.c-card, .c-card__works, .c-card__skill {
  width: clamp(20.438rem, 17.692rem + 11.71vw, 27.063rem);
}
.c-card__skill {
  padding-top: 2.5rem;
  padding-right: clamp(1rem, 0.648rem + 1.5vw, 2rem);
  padding-left: clamp(1rem, 0.648rem + 1.5vw, 2rem);
  padding-bottom: 4rem;
}
.c-card__works {
  height: clamp(22.125rem, 20.673rem + 6.2vw, 26.25rem);
  perspective: 1000px;
}
.c-card__inner {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.c-card__front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 2.5rem;
  border-radius: 1.25rem;
  transform: rotateY(0deg);
}
.c-card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: grid;
  place-content: center;
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 1.25rem;
  transform: rotateY(180deg);
}

@media (hover: hover) {
  .c-card__works:hover .c-card__inner {
    transform: rotateY(180deg);
  }
}
@media (hover: none) {
  .c-card__works:active.c-card__inner {
    transform: rotateY(180deg);
  }
}
.c-drop, .c-drop__left, .c-drop__center, .c-drop__right {
  border-radius: 50%;
  box-shadow: 14px 14px 30px #bebebe;
}
.c-drop__right {
  width: 5rem;
  height: 5rem;
  margin-left: auto;
}
.c-drop__center {
  display: inline-block;
  padding: 6.5625rem 2.8125rem;
}
.c-drop__left {
  width: 6.25rem;
  height: 6.25rem;
  margin-right: auto;
}

.c-flex, .c-flex__icon, .c-flex__link, .c-flex__nav {
  display: flex;
}
.c-flex__nav {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  gap: 2.1875rem;
}
.c-flex__about {
  display: inline-flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (width >= 1120px) {
  .c-flex__about {
    flex-direction: row;
    justify-content: space-between;
  }
}
.c-flex__link {
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}
.c-flex__section {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2.5rem;
}
@media screen and (width >= 1415px) {
  .c-flex__section {
    flex-direction: row;
    justify-content: space-between;
  }
}
.c-flex__icon {
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.c-flex__sass, .c-flex__figma {
  align-self: center;
}

.c-font-family__en {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.c-font-family__ja {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
}
.c-font-family__ja--bold {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
}

.c-font-color__brown {
  color: #3A291C;
}
.c-font-color__white {
  color: #FFFFFF;
}

.c-font-size {
  font-size: 1rem;
}

.c-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.c-icon__link {
  width: clamp(2.25rem, 1.854rem + 1.69vw, 3.375rem);
}
.c-icon__name {
  position: absolute;
  top: 0;
  font-size: 0.875rem;
  background: #fff;
  color: #fff;
  padding: 0.3125rem 0.5rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0.625rem 0.625rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.c-icon__name::before {
  position: absolute;
  content: "";
  height: 0.5rem;
  width: 0.5rem;
  background: #fff;
  bottom: -0.1875rem;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media (hover: hover) {
  .c-icon:hover .c-icon__name {
    top: -2.8125rem;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    text-shadow: 0px -0.0625rem 0px rgba(0, 0, 0, 0.1);
  }
  .c-icon:hover .c-icon__name,
.c-icon:hover .c-icon__name::before {
    background: #1B8343;
    color: #FFFFFF;
  }
  .c-icon:hover .c-icon__codepen {
    stroke: #1B8343;
  }
  .c-icon:hover .c-icon__github {
    fill: #1B8343;
  }
}
@media (hover: none) {
  .c-icon:active .c-icon__name {
    top: -2.8125rem;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    text-shadow: 0px -0.0625rem 0px rgba(0, 0, 0, 0.1);
  }
  .c-icon:active .c-icon__name,
.c-icon:active .c-icon__name::before {
    background: #1B8343;
    color: #FFFFFF;
  }
  .c-icon:active .c-icon__codepen {
    stroke: #1B8343;
  }
  .c-icon:active .c-icon__github {
    fill: #1B8343;
  }
}
.c-image__main, .c-image__main--right, .c-image__main--left {
  position: absolute;
  top: 0;
  height: 100dvh;
}
.c-image__main--left {
  left: -46.375rem;
}
.c-image__main--right {
  right: -56.25rem;
}
.c-image__about {
  width: 100%;
  display: inline-block;
  position: relative;
}
.c-image__about::before {
  content: "";
  width: clamp(18.438rem, 17.447rem + 4.23vw, 21.25rem);
  height: clamp(15rem, 13.68rem + 5.63vw, 18.75rem);
  position: absolute;
  bottom: 0;
  left: 10%;
  background-color: #E5D41C;
  z-index: -1;
  -webkit-animation: fluidrotate 30s ease 0s infinite;
          animation: fluidrotate 30s ease 0s infinite;
}
.c-image__skill--1 {
  width: clamp(2rem, 1.538rem + 1.97vw, 3.313rem);
}
.c-image__skill--2 {
  width: clamp(2.813rem, 2.328rem + 2.07vw, 4.188rem);
}
.c-image__sass {
  width: clamp(2.75rem, 2.376rem + 1.6vw, 3.813rem);
}
.c-image__WordPress {
  width: clamp(3.125rem, 2.619rem + 2.16vw, 4.563rem);
  margin: 0 auto;
}
.c-image__figma {
  width: clamp(1.625rem, 1.295rem + 1.41vw, 2.563rem);
}

@-webkit-keyframes fluidrotate {
  0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/50% 60% 40% 50%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 39% 61% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

@keyframes fluidrotate {
  0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/50% 60% 40% 50%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 39% 61% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
.c-inner {
  width: clamp(20.438rem, 7.343rem + 55.87vw, 57.625rem);
  margin: 0 auto;
}

.c-photo {
  width: 100%;
  display: inline-block;
  position: relative;
}
.c-photo::before {
  content: "";
  width: clamp(18.438rem, 17.447rem + 4.23vw, 21.25rem);
  height: clamp(15rem, 13.68rem + 5.63vw, 18.75rem);
  position: absolute;
  bottom: 0;
  left: 10%;
  background-color: #E5D41C;
  z-index: -1;
  -webkit-animation: fluidrotate 30s ease 0s infinite;
          animation: fluidrotate 30s ease 0s infinite;
}

@keyframes fluidrotate {
  0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/50% 60% 40% 50%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 39% 61% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
.c-section {
  margin-bottom: 15rem;
}

.c-shadow {
  box-shadow: 14px 14px 30px #bebebe;
}

.c-text, .c-text__skill {
  text-align: left;
}
.c-text__skill {
  margin-top: clamp(1rem, 0.648rem + 1.5vw, 2rem);
}
.c-text__about {
  margin-bottom: 1.5rem;
}
.c-text__buildup {
  font-size: 1.125rem;
  background: linear-gradient(transparent 60%, #ff6 60%);
}

.c-title__h1 {
  font-size: clamp(3.125rem, 2.025rem + 4.69vw, 6.25rem);
}
.c-title__h2 {
  font-size: clamp(2.5rem, 2.28rem + 0.94vw, 3.125rem);
  margin-bottom: 5rem;
}
.c-title__h3, .c-title__h3--works {
  font-size: 1.875rem;
}
.c-title__h3--works {
  font-size: clamp(1.563rem, 1.452rem + 0.47vw, 1.875rem);
  margin-bottom: 2rem;
}
.c-title__h3--contact {
  font-size: 1.25rem;
  margin-bottom: 2.25rem;
}

.p-about__photo {
  width: clamp(20.438rem, 17.511rem + 12.49vw, 27.5rem);
  align-self: flex-end;
}
.p-about__photo img {
  margin: 0 auto;
}
.p-about__info {
  width: clamp(20.438rem, 17.511rem + 12.49vw, 27.5rem);
  text-align: left;
  padding: 1.25rem 1.5rem 1.5rem;
  border-radius: 20px;
}
.p-about__h3 {
  display: inline-block;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #1B8343;
}

.p-footer {
  padding: 2.8125rem 0;
  background: #3A291C;
}

.p-hamburger {
  position: relative;
  display: block;
  width: 4.0625rem;
  height: 100%;
  margin-right: 0.3125rem;
  margin-left: auto;
}
.p-hamburger span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 0.875rem;
  height: 0.1875rem;
  width: 60%;
  background: #3A291C;
}
.p-hamburger span:nth-of-type(1) {
  top: 30%;
}
.p-hamburger span:nth-of-type(2) {
  top: 50%;
}
.p-hamburger span:nth-of-type(3) {
  top: 70%;
}
.p-hamburger.is-active span:nth-of-type(1) {
  top: 40%;
  left: 1.125rem;
  transform: translateY(0.375rem) rotate(-45deg);
  width: 45%;
  z-index: 4;
}
.p-hamburger.is-active span:nth-of-type(2) {
  opacity: 0;
}
.p-hamburger.is-active span:nth-of-type(3) {
  top: 60%;
  left: 1.125rem;
  transform: translateY(-0.375rem) rotate(45deg);
  width: 45%;
  z-index: 4;
}
@media screen and (width >= 1120px) {
  .p-hamburger {
    display: none;
  }
}

.p-mainvisual {
  width: 100vw;
  height: 100dvh;
}
.p-mainvisual__title {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  place-content: center;
  position: relative;
}
.p-mainvisual__image {
  width: 1440px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.p-nav {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: none;
}
.p-nav.is-panelactive {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 50%;
  height: 100dvh;
  display: block;
}
.p-nav ul {
  opacity: 0;
}
@media screen and (width >= 1120px) {
  .p-nav ul {
    opacity: 1;
  }
}
.p-nav.is-panelactive ul {
  opacity: 1;
}
.p-nav.is-panelactive ul li {
  -webkit-animation-name: naviAnime;
          animation-name: naviAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}
@media screen and (width >= 1120px) {
  .p-nav {
    display: block;
  }
}

@-webkit-keyframes naviAnime {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 1;
  }
}

@keyframes naviAnime {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 1;
  }
}
.u-pr55 {
  padding-right: 3.4375rem;
}
/*# sourceMappingURL=style.css.map */