html {
  font-size: 16px;
  line-height: 1.6;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

.l-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.l-header {
  width: 100vw;
  height: 4.0625rem;
  position: fixed;
  z-index: 990;
}

.l-main {
  padding-top: 5.9375rem;
  margin-bottom: 12.25rem;
}

.c-background__glass {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.c-background__white {
  background-color: #FFFFFF;
}
.c-background__brown {
  background-color: #3A291C;
}
.c-background__circle {
  width: 6.25rem;
  height: 6.25rem;
  position: fixed;
  right: -3.125rem;
  top: -3.125rem;
  border-radius: 50%;
  background: #E5D41C;
  z-index: 3;
  transform: scale(0);
  transition: all 0.6s;
}
.c-background__circle.is-circleactive {
  transform: scale(50);
}
.c-background__span {
  background: linear-gradient(transparent 60%, #ff6 60%);
}

.c-border, .c-border__narrow, .c-border__back {
  border: 0.125rem solid #1B8343;
  border-radius: 1.25rem;
  position: relative;
}
.c-border::before, .c-border__narrow::before, .c-border__back::before {
  content: "";
  border: 0.125rem solid #E5D41C;
  border-radius: 1.25rem;
  position: absolute;
  top: 0.4375rem;
  left: 0.4375rem;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.c-border__back {
  border: none;
}
.c-border__back::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0.4375rem;
  left: -0.4375rem;
  border: 0.125rem solid #E5D41C;
  border-radius: 1.25rem;
  z-index: -1;
}
.c-border__narrow::before {
  width: 102%;
  height: 105%;
  top: 0.1875rem;
  left: 0.1875rem;
  border-radius: 0.3125rem;
}
.c-border__image {
  border: 0.0625rem solid #CBCABF;
}

.c-border-bottom {
  border-bottom: 0.125rem solid #1B8343;
}

.c-border-radius {
  border-radius: 1.25rem;
}
.c-border-radius__narrow {
  border-radius: 0.3125rem;
}

.c-button, .c-button__works {
  padding: 0.5rem 1.5rem;
  background: #1B8343;
  border-radius: 1.25rem;
  color: #FFFFFF;
  font-size: 4vw;
}
@media screen and (width >= 375px) {
  .c-button, .c-button__works {
    font-size: 1rem;
  }
}
.c-button__works {
  padding: 0.5rem 2.1875rem;
  display: block;
}

.c-circle, .c-circle__page {
  position: relative;
}
.c-circle::before, .c-circle__page::before, .c-circle::after, .c-circle__page::after {
  height: 65%;
  content: "";
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: -1;
}
.c-circle::before, .c-circle__page::before {
  top: -19%;
  left: -7.5%;
  background-color: #E5D41C;
}
.c-circle::after, .c-circle__page::after {
  bottom: -24%;
  right: -7.5%;
  background-color: #1B8343;
}
.c-circle__page::before {
  top: -10%;
  left: -17%;
}
.c-circle__page::after {
  bottom: -16%;
  right: -19%;
}

.c-color__brown {
  color: #3A291C;
}
.c-color__white {
  color: #FFFFFF;
}

.c-drop, .c-drop__left, .c-drop__center, .c-drop__right {
  position: relative;
  border-radius: 50%;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05), 25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05), inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  aspect-ratio: 1/1;
  transition: 0.5s ease-in-out;
}
.c-drop::before, .c-drop__left::before, .c-drop__center::before, .c-drop__right::before {
  content: "";
  width: 25%;
  height: 25%;
  position: absolute;
  top: 15%;
  left: 20%;
  background: #fff;
  border-radius: 50%;
  opacity: 0.4;
}
.c-drop__right {
  border-radius: 30% 70% 36% 64%/60% 36% 64% 40%;
}
.c-drop__center {
  border-radius: 54% 46% 54% 46%/37% 60% 40% 63%;
}
.c-drop__left {
  border-radius: 49% 51% 47% 53%/60% 37% 63% 40%;
}

.c-flex, .c-flex__skill-icon, .c-flex__section, .c-flex__about-icon, .c-flex__about, .c-flex__nav {
  display: flex;
  flex-direction: column;
}
@media screen and (width >= 768px) {
  .c-flex, .c-flex__skill-icon, .c-flex__section, .c-flex__about-icon, .c-flex__about, .c-flex__nav {
    flex-direction: row;
  }
}
.c-flex__nav {
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 2.1875rem;
}
@media screen and (width >= 768px) {
  .c-flex__nav {
    justify-content: flex-end;
  }
}
.c-flex__about {
  align-items: center;
  gap: 2rem;
}
@media screen and (width >= 768px) {
  .c-flex__about {
    justify-content: center;
    gap: 11%;
  }
}
.c-flex__about-icon {
  flex-direction: row;
  justify-content: flex-end;
  gap: 5.5%;
}
.c-flex__section {
  flex-wrap: wrap;
  align-items: center;
  gap: 2.5rem;
}
@media screen and (width >= 768px) {
  .c-flex__section {
    justify-content: center;
    align-items: stretch;
  }
}
.c-flex__skill-icon {
  flex-direction: row;
  justify-content: center;
  gap: 5.5%;
}

.c-font-family__en {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.c-font-family__ja {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
}
.c-font-family__ja--bold {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
}

.c-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.c-icon__name {
  padding: 0.3125rem 0.5rem;
  position: absolute;
  top: 0;
  font-size: 0.75rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0.625rem 0.625rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.c-icon__name::before {
  height: 0.5rem;
  width: 0.5rem;
  content: "";
  position: absolute;
  bottom: -0.1875rem;
  left: 50%;
  background: #fff;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.c-inner, .c-inner__page {
  max-width: 960px;
  width: 100vw;
  margin: 0 auto;
}
.c-inner__page {
  max-width: 990px;
}

.c-section, .c-section__contact {
  margin-bottom: 11.5rem;
  padding-top: 4.0625rem;
}
.c-section__title {
  margin-bottom: 5rem;
}
.c-section__contact {
  margin-bottom: 15rem;
}
.c-section__page {
  max-width: 640px;
  width: 83.2%;
  margin: 0 auto;
  padding: 10% 7%;
}
@media screen and (width >= 768px) {
  .c-section__page {
    width: 66.6%;
  }
}

.c-shadow {
  box-shadow: 14px 14px 30px #bebebe;
}

.c-text {
  font-size: 4.2666666667vw;
}
@media screen and (width >= 375px) {
  .c-text {
    font-size: 1rem;
  }
}
.c-text__span {
  font-size: 4.8vw;
}
@media screen and (width >= 375px) {
  .c-text__span {
    font-size: 1.125rem;
  }
}

.c-title__h2 {
  font-size: clamp(2.5rem, 2.28rem + 0.94vw, 3.125rem);
  text-align: center;
}
.c-title__h3 {
  font-size: 8vw;
}
@media screen and (width >= 375px) {
  .c-title__h3 {
    font-size: 1.875rem;
  }
}
.c-title__contact {
  font-size: 4vw;
}
@media screen and (width >= 375px) {
  .c-title__contact {
    font-size: 1.25rem;
  }
}
.c-title__page {
  display: inline-block;
  font-size: 12vw;
}
@media screen and (width >= 375px) {
  .c-title__page {
    font-size: 2.8125rem;
  }
}

.p-about__photo {
  max-width: 440px;
  width: 87.2%;
}
@media screen and (width >= 768px) {
  .p-about__photo {
    width: 38%;
  }
}
.p-about__photo img {
  max-width: 324px;
  width: 72.7%;
  margin: 0 auto;
}
@media screen and (width >= 768px) {
  .p-about__photo img {
    width: 100%;
  }
}
.p-about__info {
  max-width: 440px;
  width: 87.2%;
  padding: 4.8% 7.3%;
}
@media screen and (width >= 768px) {
  .p-about__info {
    width: 45.8%;
    padding: 4% 4.5%;
  }
}
.p-about__h3 {
  display: inline-block;
  margin-bottom: 1.5rem;
}
.p-about__list {
  margin-top: 2.5rem;
}
.p-about__icon {
  width: clamp(2.25rem, 1.854rem + 1.69vw, 3.375rem);
}

.p-contact__drop-right {
  max-width: 80px;
  width: 11%;
  margin-left: 83%;
}
.p-contact__drop-center {
  max-width: 354px;
  width: 85%;
  margin: 0 auto;
  display: grid;
  place-content: center;
  gap: 10%;
}
.p-contact__drop-left {
  max-width: 100px;
  width: 8%;
  margin-top: -5%;
  margin-left: 5%;
}
.p-contact__h3 {
  text-align: center;
}

.p-footer {
  padding: 2.8125rem 0;
  background: #3A291C;
}
.p-footer__text {
  text-align: center;
}

.p-hamburger {
  width: 4.0625rem;
  height: 100%;
  margin-right: 0.3125rem;
  margin-left: auto;
  display: block;
  position: relative;
}
.p-hamburger span {
  width: 60%;
  height: 0.1875rem;
  display: inline-block;
  position: absolute;
  left: 0.875rem;
  transition: all 0.4s;
}
.p-hamburger span:nth-of-type(1) {
  top: 30%;
}
.p-hamburger span:nth-of-type(2) {
  top: 50%;
}
.p-hamburger span:nth-of-type(3) {
  top: 70%;
}
.p-hamburger.is-active span:nth-of-type(1) {
  width: 45%;
  top: 40%;
  left: 1.125rem;
  z-index: 999;
  transform: translateY(0.375rem) rotate(-45deg);
}
.p-hamburger.is-active span:nth-of-type(2) {
  opacity: 0;
}
.p-hamburger.is-active span:nth-of-type(3) {
  width: 45%;
  top: 60%;
  left: 1.125rem;
  z-index: 999;
  transform: translateY(-0.375rem) rotate(45deg);
}
@media screen and (width >= 768px) {
  .p-hamburger {
    display: none;
  }
}

.p-mainvisual {
  max-width: 1440px;
  width: 100%;
  height: 100dvh;
  margin: 0 auto;
  position: relative;
}
.p-mainvisual__center {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}
.p-mainvisual__left, .p-mainvisual__right {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow-x: visible;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-mainvisual__left {
  max-width: 1119px;
  left: 0;
  -o-object-position: right;
     object-position: right;
}
.p-mainvisual__right {
  max-width: 1825px;
  right: 0;
  -o-object-position: left;
     object-position: left;
}
.p-mainvisual__title {
  font-size: 7.8125vw;
  text-align: center;
}
.p-mainvisual__title span {
  display: inline-block;
}

.p-nav {
  max-width: 1440px;
  height: 100%;
  padding-right: 0;
  display: none;
}
@media screen and (width >= 768px) {
  .p-nav {
    margin: 0 auto;
    padding-right: 3.4375rem;
    display: block;
  }
}
.p-nav.is-panelactive {
  width: 100%;
  height: 100dvh;
  margin: 0 auto;
  display: block;
  position: fixed;
  z-index: 998;
  top: 0;
}
.p-nav ul {
  opacity: 0;
}
@media screen and (width >= 768px) {
  .p-nav ul {
    opacity: 1;
  }
}
.p-nav.is-panelactive ul {
  opacity: 1;
}
.p-nav.is-panelactive ul li {
  -webkit-animation-name: naviAnime;
          animation-name: naviAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes naviAnime {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 1;
  }
}

@keyframes naviAnime {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 1;
  }
}
.p-page__title {
  width: 100%;
  margin-bottom: 2.5rem;
  text-align: center;
}
@media screen and (width >= 768px) {
  .p-page__title {
    margin-bottom: 7.5rem;
  }
}
.p-page__button {
  margin: 10rem auto 0;
  display: block;
}
.p-page__text {
  max-width: 480px;
  width: 80.7%;
  margin: 0 auto;
}
@media screen and (width >= 768px) {
  .p-page__text {
    width: 75%;
  }
}
.p-page__h3 {
  margin-bottom: 1rem;
  display: inline-block;
  line-height: normal;
}
@media screen and (width >= 768px) {
  .p-page__h3 {
    margin-bottom: 1.5rem;
  }
}
.p-page__li {
  max-width: 455px;
  width: 87.2%;
  padding: 5.2% 7.3%;
}
@media screen and (width >= 768px) {
  .p-page__li {
    width: 46%;
    padding: 3.2%;
  }
}
.p-page__sp-image {
  margin: 0 auto;
}
.p-page__ol {
  width: 87.2%;
  margin: 0 auto;
}
@media screen and (width >= 768px) {
  .p-page__ol {
    padding: 0 6.4%;
  }
}
.p-page__dt {
  padding: 0 1rem;
  display: inline-block;
  font-size: 8vw;
}
@media screen and (width >= 375px) {
  .p-page__dt {
    font-size: 1.875rem;
  }
}
.p-page__dd {
  padding: 2.5rem 1rem;
}

.p-pagenation {
  width: 73%;
  margin: 7.875rem auto 12.25rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 8vw;
}
@media screen and (width >= 375px) {
  .p-pagenation {
    font-size: 1.875rem;
  }
}
.p-pagenation .nav-links {
  display: flex;
  justify-content: space-between;
}
.p-pagenation .nav-next {
  margin-left: auto;
}

.p-skill__card {
  max-width: 433px;
  width: 88%;
  padding: 2.5rem 3.5% 4rem 4.5%;
}
@media screen and (width >= 768px) {
  .p-skill__card {
    width: 45%;
  }
}
.p-skill__icon {
  width: 18%;
}
.p-skill__text {
  margin-top: clamp(1rem, 0.648rem + 1.5vw, 2rem);
}

.p-works__h3 {
  margin-bottom: 1rem;
  text-align: center;
}
@media screen and (width >= 375px) {
  .p-works__h3 {
    margin-bottom: 2rem;
  }
}
.p-works__card {
  width: clamp(11.825rem, 88vw, 23.815rem);
  height: clamp(16.875rem, 7.013rem + 73.39vw, 26.875rem);
  perspective: 1000px;
}
@media screen and (width >= 768px) {
  .p-works__card {
    width: clamp(21.599rem, -0.253rem + 45.53vw, 27.063rem);
    height: clamp(24.259rem, 17.384rem + 14.36vw, 26rem);
  }
}
.p-works__card-inner {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.p-works__card-front {
  width: 100%;
  height: 100%;
  padding: 2.5rem 3% 0 5%;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: rotateY(0deg);
}
@media screen and (width >= 768px) {
  .p-works__card-front {
    padding: 2.5rem;
  }
}
.p-works__card-back {
  width: 100%;
  height: 100%;
  padding: 0 10%;
  display: grid;
  place-content: center;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: rotateY(180deg);
}
.p-works__button {
  margin-top: 0.5rem;
  margin-left: auto;
}

.u-animation {
  width: 100%;
  display: inline-block;
  position: relative;
}
.u-animation::before {
  content: "";
  max-width: 433px;
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #E5D41C;
  z-index: -1;
  -webkit-animation: fluidrotate 30s ease 0s infinite;
          animation: fluidrotate 30s ease 0s infinite;
}
@media screen and (width >= 375px) {
  .u-animation::before {
    width: 90%;
    height: 70%;
    left: 5%;
  }
}
@media screen and (width >= 768px) {
  .u-animation::before {
    width: 100%;
    height: 70%;
    left: 0;
  }
}

@-webkit-keyframes fluidrotate {
  0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/50% 60% 40% 50%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 39% 61% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

@keyframes fluidrotate {
  0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/50% 60% 40% 50%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 39% 61% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
@media (hover: hover) {
  .u-hover__popup:hover .c-icon__name {
    top: -2.8125rem;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    text-shadow: 0px -0.0625rem 0px rgba(0, 0, 0, 0.1);
  }
  .u-hover__popup:hover .c-icon__name,
.u-hover__popup:hover .c-icon__name::before {
    background: #1B8343;
    color: #FFFFFF;
  }
  .u-hover__popup:hover .c-icon__stroke {
    stroke: #1B8343;
  }
  .u-hover__popup:hover .c-icon__fill {
    fill: #1B8343;
  }
}
@media (hover: none) {
  .u-hover__popup:active .c-icon__name {
    top: -2.8125rem;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    text-shadow: 0px -0.0625rem 0px rgba(0, 0, 0, 0.1);
  }
  .u-hover__popup:active .c-icon__name,
.u-hover__popup:active .c-icon__name::before {
    background: #1B8343;
    color: #FFFFFF;
  }
  .u-hover__popup:active .c-icon__stroke {
    stroke: #1B8343;
  }
  .u-hover__popup:active .c-icon__fill {
    fill: #1B8343;
  }
}
@media (hover: hover) {
  .u-hover__works:hover .p-works__card-inner {
    transform: rotateY(180deg);
  }
}
@media (hover: none) {
  .u-hover__works:active .p-works__card-inner {
    transform: rotateY(180deg);
  }
}
@media (hover: hover) {
  .u-hover__drop:hover {
    border-radius: 50%;
  }
}
@media (hover: none) {
  .u-hover__drop:active {
    border-radius: 50%;
  }
}
.u-mb__24 {
  margin-bottom: 1.5rem;
}
.u-mb__120 {
  margin-bottom: 7.5rem;
}

.u-pr55 {
  padding-right: 3.4375rem;
}

.u-pb__sp {
  padding-bottom: 6.875rem;
}
@media screen and (width >= 768px) {
  .u-pb__sp {
    padding-bottom: 0;
  }
}

.u-p__page {
  padding: 4rem 0;
}

.smf-item__label__text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #3A291C;
  font-size: 4.2666666667vw;
}
@media screen and (width >= 375px) {
  .smf-item__label__text {
    font-size: 1rem;
  }
}

[data-screen=back] .smf-progress-tracker__item--input .smf-progress-tracker__item__text, [data-screen=complete] .smf-progress-tracker__item--complete .smf-progress-tracker__item__text, [data-screen=confirm] .smf-progress-tracker__item--confirm .smf-progress-tracker__item__text, [data-screen=input] .smf-progress-tracker__item--input .smf-progress-tracker__item__text, [data-screen=invalid] .smf-progress-tracker__item--input .smf-progress-tracker__item__text {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  color: #3A291C;
  background: linear-gradient(transparent 60%, #ff6 60%);
}

[data-screen=back] .smf-progress-tracker__item--input .smf-progress-tracker__item__number, [data-screen=complete] .smf-progress-tracker__item--complete .smf-progress-tracker__item__number, [data-screen=confirm] .smf-progress-tracker__item--confirm .smf-progress-tracker__item__number, [data-screen=input] .smf-progress-tracker__item--input .smf-progress-tracker__item__number, [data-screen=invalid] .smf-progress-tracker__item--input .smf-progress-tracker__item__number {
  background-color: #1B8343;
}

.smf-progress-tracker__item__text {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-size: 4.2666666667vw;
}
@media screen and (width >= 375px) {
  .smf-progress-tracker__item__text {
    font-size: 1rem;
  }
}

.smf-item__description,
.smf-system-error-content-ready,
.smf-complete-content p {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  color: #3A291C;
  font-size: 4.2666666667vw;
}
@media screen and (width >= 375px) {
  .smf-item__description,
.smf-system-error-content-ready,
.smf-complete-content p {
    font-size: 1rem;
  }
}

.smf-form .smf-item .smf-text-control__control,
.smf-form .smf-item .smf-textarea-control__control {
  border: none;
}

.smf-form .smf-item .smf-text-control__control:hover {
  border-color: #1B8343;
}

.smf-text-control,
.smf-textarea-control {
  border: 0.125rem solid #1B8343;
  border-radius: 0.125rem;
}

.smf-file-control__label,
.smf-button-control__control {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  color: #3A291C;
  font-size: 4.2666666667vw;
}
@media screen and (width >= 375px) {
  .smf-file-control__label,
.smf-button-control__control {
    font-size: 1rem;
  }
}

.smf-form .smf-item .smf-file-control > label {
  flex-direction: column;
  gap: 0.3125rem;
}

.smf-form .smf-item .smf-file-control__filename {
  margin-left: 0;
}

.smf-file-control__filename {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  color: #3A291C;
  font-size: 4.2666666667vw;
}
@media screen and (width >= 375px) {
  .smf-file-control__filename {
    font-size: 1rem;
  }
}

.smf-action .smf-button-control__control,
.smf-form .smf-item .smf-file-control__label {
  padding: 0.5rem 1.5rem;
  background: #1B8343;
  border-radius: 0.625rem;
  color: #FFFFFF;
  font-size: 4.2666666667vw;
}
@media screen and (width >= 375px) {
  .smf-action .smf-button-control__control,
.smf-form .smf-item .smf-file-control__label {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */