@use "../../foundation/global" as g;

//グラスモーフィズム部分(header部分に使用)
.c-background{
  &__glass {
    background:rgba( 255,  255,  255, 0.3   );
    backdrop-filter: blur( 20px   );
  }
  &__white {
    background-color: g.$color-white;
  }
  &__brown {
    background-color: g.$color-brown;
  }
  &__circle {
    width: g.rem(100);
    height: g.rem(100);
    position: fixed;
    right: g.rem(-50);
    top: g.rem(-50);
    border-radius: 50%;
    background: g.$color-yellow;
    z-index: 3;
    transform: scale(0);
    transition: all .6s;
    &.is-circleactive {
      transform: scale(50);
    }
  }
  &__span {
    background:linear-gradient(transparent 60%, #ff6 60%);
  }
} 