@use "../../foundation/global" as g;

.c-border {
  border: g.rem(2) solid g.$color-green;
  border-radius: g.rem(20);
  position: relative;
  &::before {
    content: "";
    border: g.rem(2) solid g.$color-yellow;
    border-radius: g.rem(20);
    position: absolute;
    top: g.rem(7);
    left: g.rem(7);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &__back {
    @extend .c-border;
    border: none;
    &::before {
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      top: g.rem(7);
      left: g.rem(-7);
      border: g.rem(2) solid g.$color-yellow;
      border-radius: g.rem(20);
      z-index: -1;
    }
  }
  &__narrow {
    @extend .c-border;
    &::before {
      width: 102%;
      height: 105%;
      top: g.rem(3);
      left: g.rem(3);
      border-radius: g.rem(5);
    }
  }
  &__image {
    border: g.rem(1) solid g.$color-gray;
  }
}

.c-border-bottom {
  border-bottom: g.rem(2) solid g.$color-green;
}

.c-border-radius {
  border-radius: g.rem(20);
  &__narrow {
    border-radius: g.rem(5);
  }
}