@use "../../foundation/global" as g;

.c-button {
  padding: g.rem(8) g.rem(24);
  background: g.$color-green;
  border-radius: g.rem(20);
  color: g.$color-white;
  &__works {
    @extend .c-button;
    display: block;
    margin-left: auto;
    margin-top: g.rem(8);
    padding: g.rem(8) g.rem(35);
  }
  &__hamburger {
    position: relative;
    display: block;
    width: g.rem(65);
    height: 100%;
    margin-right: g.rem(5);
    margin-left: auto;
    & span {
      display: inline-block;
      transition: all .4s;
      position: absolute;
      left: g.rem(14);
      height: g.rem(3);
      width: 60%;
      background: g.$color-brown;
    }
    & span:nth-of-type(1) {
      top: 30%;
    }
    & span:nth-of-type(2) {
      top: 50%;
    }
    & span:nth-of-type(3) {
      top: 70%;
    }
    &.is-active span:nth-of-type(1) {
      top: 40%;
      left: g.rem(18);
      transform: translateY(g.rem(6)) rotate(-45deg);
      width: 45%;
    }
    &.is-active span:nth-of-type(2) {
      opacity: 0;
    }
    &.is-active span:nth-of-type(3) {
      top: 60%;
      left: g.rem(18);
      transform: translateY(g.rem(-6)) rotate(45deg);
      width: 45%;
    }

    @include g.pc {
      display: none;
    }
  }
}