@use "../../foundation/global" as g;

.c-button {
  padding: g.rem(8) g.rem(24);
  background: g.$color-green;
  border-radius: g.rem(20);
  color: g.$color-white;
  font-size: 4vw;
  @include g.sp {
    font-size: g.rem(16);
  }
  &__works {
    @extend .c-button;
    padding: g.rem(8) g.rem(35);
    display: block;
  }
}