@use "../../foundation/global" as g;

.c-button {
  padding: g.rem(8) g.rem(24);
  background: g.$color-green;
  border-radius: g.rem(20);
  color: g.$color-white;
  &__works {
    @extend .c-button;
    display: block;
    margin-left: auto;
    margin-top: g.rem(8);
    padding: g.rem(8) g.rem(35);
  }
}