@use "../../foundation/global" as g;

.c-circle {
  position: relative;
  &::before,
  &::after {
    height: 65%;
    content: "";
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: -1;
  }
  &::before {
    top: -19%;
    left: -7.5%;
    background-color: g.$color-yellow;
  }
  &::after {
    bottom: -24%;
    right: -7.5%;
    background-color: g.$color-green;
  }
  &__page {
    @extend .c-circle;
    &::before {
      top: -10%;
      left: -17%;
    }
    &::after {
      bottom: -16%;
      right: -19%;
    }
  }
}