@use "../../foundation/global" as g;

.c-circle {
  position: relative;
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 56px;
    height: 56px;
    border-radius: 50%;
    z-index: -1;
  }
  &::before {
    background-color: g.$color-yellow;
    top: -25%;
    left: -8%;
  }
  &::after {
    background-color: g.$color-green;
    bottom: -25%;
    right: -8%;
  }
}