@use "../../foundation/global" as g;

.c-circle {
  position: relative;
  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 65%;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: -1;
  }
  &::before {
    background-color: g.$color-yellow;
    top: -19%;
    left: -7.5%;
  }
  &::after {
    background-color: g.$color-green;
    bottom: -24%;
    right: -7.5%;
  }
}