@use "../../foundation/global" as g;

.c-flex {
  display:        flex;
  flex-direction: row;
  &__nav {
    @extend .c-flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap:    g.rem(35);
  }
  &__about {
    @extend .c-flex;
    justify-content: space-between;
  }
  &__sns {
    @extend .c-flex;
    justify-content: flex-end;
    gap: g.rem(16);
  }
}