@use "../../foundation/global" as g;

.c-flex {
  display:  flex;
  flex-direction: column;
  @include g.tablet {
    flex-direction: row;
  }
  &__nav {
    @extend .c-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap:    g.rem(35);
    @include g.tablet {
      justify-content: flex-end;
    }
  }
  &__about {
    @extend .c-flex;
    align-items: center;
    gap: g.rem(32);
    @include g.tablet {
      justify-content: center;
      gap: 12.5%;
    }
  }
  &__list {
    @extend .c-flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5.5%;
  }
  &__section {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: g.rem(40);
    @include g.tablet {
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
    }
  }
  &__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5.5%;
  }
  &__sass,
  &__figma {
    align-self: center;
  }
}