@use "../../foundation/global" as g;

.c-flex {
  display:  flex;
  flex-direction: row;
  &__nav {
    @extend .c-flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap:    g.rem(35);
  }
  &__about {
    display: inline-flex;
    flex-direction: column;
    gap: g.rem(32);
    @include g.pc {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__sns {
    @extend .c-flex;
    justify-content: flex-end;
    gap: g.rem(16);
  }
  &__section {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: g.rem(40);
    @media screen and (width >= 1415px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__icon {
    @extend .c-flex;
    justify-content: center;
    gap: g.rem(16);
  }
  &__sass,
  &__figma {
    align-self: center;
  }
}