@use "../../foundation/global" as g;

.c-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  &__name {
    position: absolute;
    top: 0;
    font-size: g.rem(14);
    padding: g.rem(5) g.rem(8);
    border-radius: g.rem(5);
    box-shadow: 0 g.rem(10) g.rem(10) rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &::before {
      position: absolute;
      content: "";
      height: g.rem(8);
      width: g.rem(8);
      background: #fff;
      bottom: g.rem(-3);
      left: 50%;
      transform: translate(-50%) rotate(45deg);
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
  &__skill--1 {
    width: 15.1%;
  }
  &__skill--2 {
    width: 19.1%;
  }
  &__sass {
    width: 17.4%;
  }
  &__wordpress {
    width: 20.8%;
    margin: 0 auto;
  }
  &__figma {
    width: 11.7%;
  }
}

