@use "../../foundation/global" as g;

.c-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  &__name {
    padding: g.rem(5) g.rem(8);
    position: absolute;
    top: 0;
    font-size: g.rem(12);
    border-radius: g.rem(5);
    box-shadow: 0 g.rem(10) g.rem(10) rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &::before {
      height: g.rem(8);
      width: g.rem(8);
      content: "";
      position: absolute;
      bottom: g.rem(-3);
      left: 50%;
      background: #fff;
      transform: translate(-50%) rotate(45deg);
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
}

