@use "../../foundation/global" as g;

.c-image {
  &__main {
    position: absolute;
    top: 0;
    height: 100dvh;
    &--left {
      @extend .c-image__main;
      left: g.rem(-742);
    }
    &--right {
      @extend .c-image__main;
      right: g.rem(-900);
    }
  }
  &__about {
    width: 100%;
    display: inline-block;
    position: relative;
    &::before {
      content: "";
      width: clamp(18.438rem, 17.447rem + 4.23vw, 21.25rem);
      height: clamp(15rem, 13.68rem + 5.63vw, 18.75rem);
      position: absolute;
      bottom: 0;
      left: 10%;
      background-color: g.$color-yellow;    
      // border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%  ;
      z-index: -1;
      animation: fluidrotate 30s ease 0s infinite;
    }
  }
  &__WordPress {
    margin: 0 auto;
  }
}

@keyframes fluidrotate {
  0%, 100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 50% 60% 40% 50%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 39% 61% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}