@use "../../foundation/global" as g;

.c-image {
  &__main {
    position: absolute;
    top: 0;
    height: 100dvh;
    &--left {
      @extend .c-image__main;
      left: g.rem(-338);
    }
    &--right {
      @extend .c-image__main;
      right: g.rem(-378);
    }
  }
  &__about {
    width: 100%;
    display: inline-block;
    position: relative;
    &::before {
      content: "";
      width: g.rem(340);
      height: g.rem(300);
      position: absolute;
      bottom: 0;
      left: 10%;
      background-color: g.$color-yellow;
      border-radius: 68% 32% 42% 58% / 63% 50% 50% 37% ;
      z-index: -1;
    }
  }
}