@use "../../foundation/global" as g;

.c-section {
  margin-bottom: g.rem(175);
  padding-top: g.rem(65);
  &__title {
    margin-bottom: g.rem(80);
  }
  &__contact {
    margin-bottom: g.rem(175);
    padding-top: g.rem(220);
  }
  &__page {
    max-width: 640px;
    width: 83.2%;
    margin: 0 auto;
    padding: 10% 7%;
    @include g.tablet {
      width: 66.6%;
    }
  }
}