@use "../../foundation/global" as g;

.c-text {
  font-size: g.sp-vw(16);
  @include g.sp {
    font-size: g.rem(16);
  }
  &__skill {
    @extend .c-text;
    font-size: g.sp-vw(16);
    margin-top: clamp(1rem, 0.648rem + 1.5vw, 2rem);
    @include g.sp {
      font-size: g.rem(16);
    }
  }
  &__contact {
    font-size: 4vw;
      @include g.sp {
        font-size: g.rem(16);
      }
  }
}