@use "../../foundation/global" as g;

.c-title {
  &__h1 {
    font-size: clamp(3.125rem, 2.025rem + 4.69vw, 6.25rem);
    & span {
      display: inline-block;
    }
  }
  &__h2 {
    font-size: clamp(2.5rem, 2.28rem + 0.94vw, 3.125rem);
    margin-bottom: g.rem(80);
  }
  &__h3 {
    font-size: g.rem(30);
    &--works {
      @extend .c-title__h3;
      font-size: clamp(1.563rem, 1.452rem + 0.47vw, 1.875rem);
      margin-bottom: g.rem(32);
    }
    &--contact {
      font-size: 4vw;
      @include g.sp {
        font-size: g.rem(20);
      }
    }
  }
}