@use "../../foundation/global" as g;

.c-title {  
  &__h2 {
    font-size: clamp(2.5rem, 2.28rem + 0.94vw, 3.125rem);
    text-align: center;
  }
  &__h3 {
    font-size: g.sp-vw(30);
    @include g.sp {
      font-size: g.rem(30);
    }
  }
  &__contact {
    font-size: 4vw;
    @include g.sp {
      font-size: g.rem(20);
    }
  }
  &__page {
    display: inline-block;
    font-size: g.sp-vw(35);
    @include g.sp {
      font-size: g.rem(35);
    }
    @include g.tablet {
      font-size: g.rem(45);
    }
  }
}