@use "../../foundation/global" as g;

// aboutのSVGアニメーション
@media (hover: hover) {
  .u-hover__popup:hover .c-icon__name {
    top: g.rem(-45);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    text-shadow: 0px g.rem(-1) 0px rgba(0, 0, 0, 0.1);
  }
  .u-hover__popup:hover .c-icon__name,
  .u-hover__popup:hover .c-icon__name::before {
    background: g.$color-green;
    color: g.$color-white;
  }
  .u-hover__popup:hover .c-icon__codepen {
    stroke: g.$color-green;
  }
  .u-hover__popup:hover .c-icon__github {
    fill: g.$color-green;
  }
  }
  @media (hover: none) {
    .u-hover__popup:active .c-icon__name {
      top: g.rem(-45);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      text-shadow: 0px g.rem(-1) 0px rgba(0, 0, 0, 0.1);
    }
    .u-hover__popup:active .c-icon__name,
    .u-hover__popup:active .c-icon__name::before {
      background: g.$color-green;
      color: g.$color-white;
    }
    .u-hover__popup:active .c-icon__codepen {
      stroke: g.$color-green;
    }
    .u-hover__popup:active .c-icon__github {
      fill: g.$color-green;
    }
  }

  // works部分の挙動
  @media (hover: hover) {
    .u-hover__works:hover .p-works__card-inner {
      transform: rotateY(180deg);
    }
    }
  @media (hover: none) {
    .u-hover__works:active .p-works__card-inner {
    transform: rotateY(180deg);
  }
  }