@use "../../foundation/global" as g;

.u-pr55 {
  padding-right: g.rem(55);
}

.u-pb__sp {
  padding-bottom: g.rem(110);
  @include g.tablet {
    padding-bottom: 0;
  }
}
.u-p__page {
  padding: g.rem(64) 0;
}