@use "../../foundation/global" as g;

.p-about {
  &__photo {
    width: clamp(20.438rem, 17.511rem + 12.49vw, 27.5rem);
    align-self: flex-end;
    
    & img {
      margin: 0 auto;
    }
  }
  &__info {
    width: clamp(20.438rem, 17.511rem + 12.49vw, 27.5rem);
    text-align: left;
    padding: g.rem(20) g.rem(24) g.rem(24);
    border-radius: g.rem(20);
    
  }
  &__h3 {
    display: inline-block;
    margin-bottom: g.rem(24);
    border-bottom: g.rem(2) solid g.$color-green;
  }
}