@use "../../foundation/global" as g;

.p-about {
  &__photo {
    max-width: 440px;
    width: 87.2%;
    @include g.tablet {
      width: 35.1%;
    }    
    & img {
      margin: 0 auto;
    }
  }
  &__info {
    max-width: 440px;
    width: 87.2%;
    padding: 4.8% 7.3% ;
    @include g.tablet {
      width: 45.8%;
      padding: 4% 4.5%;
    }   
  }
  &__h3 {
    display: inline-block;
    margin-bottom: g.rem(24);
  }
  &__list {
    margin-top: g.rem(24);
  }
  &__icon {
    width: clamp(2.25rem, 1.854rem + 1.69vw, 3.375rem);
  }
}