@use "../../foundation/global" as g;

.p-about {
  margin-bottom: g.rem(240);
  &__title {
    margin-bottom: g.rem(80);
  }
  &__photo {
    max-width: 440px;
    width: 87.2%;
    @include g.tablet {
      width: 35.1%;
    }    
    & img {
      margin: 0 auto;
    }
  }
  &__info {
    max-width: 440px;
    width: 87.2%;
    padding: 4.8% 7.3% ;
    border-radius: g.rem(20);
    @include g.tablet {
      width: 45.8%;
      padding: 4% 4.5%;
    }   
  }
  &__h3 {
    display: inline-block;
    margin-bottom: g.rem(24);
    border-bottom: g.rem(2) solid g.$color-green;
  }
}