@use "../../foundation/global" as g;

.p-mainvisual {
  max-width: 1440px;
  width: 100%;
  height: 100dvh;
  position: relative;
  margin: 0 auto;
  &__title {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
  }
  &__left,
  &__right {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: visible;
    object-fit: cover;
  }
  &__left {
    left: 0;
    max-width: 1119px;
    object-position: right;
    transform: translateX(-80%);
  }
  &__right {
    right: 0;
    max-width: 1825px;
    object-position: left;
    transform: translateX(65%);
  }
}