@use "../../foundation/global" as g;

.p-pagenation {
  width: 73%;
  margin: g.rem(126) auto g.rem(196);
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: g.sp-vw(30);
  @include g.sp {
    font-size: g.rem(30);
  }
  & .nav-links {
    display: flex;
    justify-content: space-between;
  }
  & .nav-next {
    margin-left: auto;
  }
}