@use "../../foundation/global" as g;

.p-single {
  &__title {
    width: 100%;
    text-align: center;
    margin-bottom: g.rem(40);
    @include g.tablet {
      margin-bottom: g.rem(120);
    }
  }
  &__h2 {
    display: inline-block;
    font-size: g.sp-vw(45);
    @include g.sp {
      font-size: g.rem(45);
    }
  }
  &__inner {
    max-width: 990px;
    width: 100vw;
    margin: 0 auto;
  }
  &__ul {
    margin-bottom: g.rem(120);
  }
  &__h3 {
    display: inline-block;
    font-size: g.sp-vw(30);
    line-height: normal;
    margin-bottom: g.rem(16);
    @include g.sp {
      font-size: g.rem(30);
    }
    @include g.tablet {
      margin-bottom: g.rem(24);
    }
  }
  &__li {
    max-width: 455px;
    width: 87.2%;
    padding: 5.2% 7.3%;
    @include g.tablet {
      width: 46%;
      padding: 3.2%% 3.5%;
    }
  }
  &__sp-image {
    margin: 0 auto;
  }
  &__ol {
    width: 87.2%;
    margin: 0 auto;
    @include g.tablet {
      padding: 0 6.4%;
    }
  }
  &__dt {
    display: inline-block;
    padding: 0 g.rem(16);
    font-size: g.sp-vw(30);
    @include g.sp {
      font-size: g.rem(30);
    }
  }
  &__dd {
    padding: g.rem(40) g.rem(16);
  }
}