@use "../../foundation/global" as g;

.p-skill {
  &__card {
    max-width: 433px;
    width: 88%;
    padding: g.rem(40) 3.5% g.rem(64) 4.5%;
    @include g.tablet {
      width: 45%;
    }
  }
  &__icon {
    width: 18%;
  }
  &__text {
    margin-top: clamp(1rem, 0.648rem + 1.5vw, 2rem);
  }
}