@use "../../foundation/global" as g;

.p-works {
  margin-bottom: g.rem(240);
  &__title {
    margin-bottom: g.rem(80);
  }
  &__h3 {
    margin-bottom: g.rem(16);
    text-align: center;
    @include g.sp {
      margin-bottom: g.rem(32);
    }
  }
  &__card {
    width: clamp(11.825rem, 88vw, 23.815rem);
    height: clamp(16.875rem, 7.013rem + 73.39vw, 26.875rem);
    perspective: 1000px;
    @include g.tablet {
      width: clamp(21.599rem, -0.253rem + 45.53vw, 27.063rem);
      height: clamp(24.259rem, 17.384rem + 14.36vw, 26rem);
    }
  }
  &__card-inner {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  &__card-front {
    width: 100%;
    height: 100%;
    padding: g.rem(40) 3% 0 5%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    @include g.tablet {
      padding: g.rem(40);
    }
  }
  &__card-back {  
    width: 100%;
    height: 100%;
    padding: 0 10%;
    display: grid;
    place-content: center;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
  &__button {
    margin-top: g.rem(8);
    margin-left: auto;
  }
}