@use "../foundation/global" as g;

// Snow Monkey Forms
.smf-item__label__text {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: g.$color-brown;
  font-size: g.sp-vw(16);
  @include g.sp {
    font-size: g.rem(16);
  }
}
[data-screen=back] .smf-progress-tracker__item--input .smf-progress-tracker__item__text, [data-screen=complete] .smf-progress-tracker__item--complete .smf-progress-tracker__item__text, [data-screen=confirm] .smf-progress-tracker__item--confirm .smf-progress-tracker__item__text, [data-screen=input] .smf-progress-tracker__item--input .smf-progress-tracker__item__text, [data-screen=invalid] .smf-progress-tracker__item--input .smf-progress-tracker__item__text {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 700;
  color: g.$color-brown;
  background:linear-gradient(transparent 60%, #ff6 60%);
}
[data-screen=back] .smf-progress-tracker__item--input .smf-progress-tracker__item__number, [data-screen=complete] .smf-progress-tracker__item--complete .smf-progress-tracker__item__number, [data-screen=confirm] .smf-progress-tracker__item--confirm .smf-progress-tracker__item__number, [data-screen=input] .smf-progress-tracker__item--input .smf-progress-tracker__item__number, [data-screen=invalid] .smf-progress-tracker__item--input .smf-progress-tracker__item__number{
  background-color: g.$color-green;
}
.smf-progress-tracker__item__text {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 700;
  font-size: g.sp-vw(16);
  @include g.sp {
    font-size: g.rem(16);
  }
}
.smf-item__description,
.smf-system-error-content-ready,
.smf-complete-content p {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 400;
  color: g.$color-brown;
  font-size: g.sp-vw(16);
  @include g.sp {
    font-size: g.rem(16);
  }
}
.smf-form .smf-item .smf-text-control__control,
.smf-form .smf-item .smf-textarea-control__control {
  border: none;
}
.smf-form .smf-item .smf-text-control__control:hover {
  border-color: g.$color-green;
}
.smf-text-control,
.smf-textarea-control {
  border: g.rem(2) solid g.$color-green;
  border-radius: g.rem(2);
}
.smf-file-control__label,
.smf-button-control__control {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 400;
  color: g.$color-brown;
  font-size: g.sp-vw(16);
  @include g.sp {
    font-size: g.rem(16);
  }
}
.smf-form .smf-item .smf-file-control>label {
  flex-direction: column;
  gap: g.rem(5);
}
.smf-form .smf-item .smf-file-control__filename {
  margin-left: 0;
}
.smf-file-control__filename {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 400;
  color: g.$color-brown;
  font-size: g.sp-vw(16);
  @include g.sp {
    font-size: g.rem(16);
  }
}
.smf-action .smf-button-control__control,
.smf-form .smf-item .smf-file-control__label {
  padding: g.rem(8) g.rem(24);
  background: g.$color-green;
  border-radius: g.rem(10);
  color: g.$color-white;
  font-size: g.sp-vw(16);
  @include g.sp {
    font-size: g.rem(16);
  }
}
.smf-action:active .smf-button-control__control:active,
.smf-form:active .smf-item:active .smf-file-control__label:active {
  background-color: g.$color-white;
  border: 1px solid g.$color-green;
  color: g.$color-green;
}